#lname, #fname, #emailAdd, #contactNum, #curEmail, #lastName, #firstName{
    /* display: none; */
    margin-bottom: 20px;
    width: 75%;
    height: 40px;
    border-radius: 10px;
    border: 0.5 solid black;

}
label{
    font-size: large;
    font-weight: bold;
}